*.log
npm-debug.log*
yarn-error.log
pnpm-debug.log*

.DS_Store
Thumbs.db

.env
.env.local
.env.development
.env.testing
.env.production
.env.backup

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.php-cs-fixer.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json

/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*.php

/coverage
/.scannerwork

Homestead.json
Homestead.yaml
